[Unit]
After=network-pre.target br0-netdev.service
Before=network-setup.service
BindsTo=br0-netdev.service
Description=Address configuration of br0

[Service]
Environment="LOCALE_ARCHIVE=/nix/store/lw4a8r3lm5irklghq3pjj9spj9bvzwkd-glibc-locales-2.40-218/lib/locale/locale-archive"
Environment="PATH=/nix/store/k4dxaj0r6wys25lfiqibw39z68228612-iproute2-6.17.0/bin:/nix/store/wkkwxc04gdw6b263l1h29pjarjnjdyb6-coreutils-9.8/bin:/nix/store/bb1ipjfz8g6cir41rr0zc2x2ah43kzar-findutils-4.10.0/bin:/nix/store/d4c56s8wa6rz2dnw6ridg7r1dvax1gky-gnugrep-3.12/bin:/nix/store/0zqnw11n1hk8mflzzvrz7sv1rm1cbnp8-gnused-4.9/bin:/nix/store/bigkpra9jw48fip69q4wndsf4kb3d2w9-systemd-258.3/bin:/nix/store/k4dxaj0r6wys25lfiqibw39z68228612-iproute2-6.17.0/sbin:/nix/store/wkkwxc04gdw6b263l1h29pjarjnjdyb6-coreutils-9.8/sbin:/nix/store/bb1ipjfz8g6cir41rr0zc2x2ah43kzar-findutils-4.10.0/sbin:/nix/store/d4c56s8wa6rz2dnw6ridg7r1dvax1gky-gnugrep-3.12/sbin:/nix/store/0zqnw11n1hk8mflzzvrz7sv1rm1cbnp8-gnused-4.9/sbin:/nix/store/bigkpra9jw48fip69q4wndsf4kb3d2w9-systemd-258.3/sbin"
Environment="TZDIR=/nix/store/8i1vdm6jfvvchysfbymf1gxd54danazj-tzdata-2025c/share/zoneinfo"
X-StopIfChanged=false
ExecStart=/nix/store/gb2brg3jmv2cfkl6ny9vxgam103xa6lf-unit-script-network-addresses-br0-start/bin/network-addresses-br0-start 
ExecStop=/nix/store/s2w14akihsfyzm708k7gq2ci10mcwxbz-unit-script-network-addresses-br0-pre-stop/bin/network-addresses-br0-pre-stop
RemainAfterExit=true
Type=oneshot

[Install]
WantedBy=network-setup.service network.target
